// src/styles/custom.scss

@import 'bootstrap';

// 

.h1-header{
    font-size: 70px;
}

.btn {
    width: 251px;
    height: 56px;
    border-radius: 30px;
    margin-top: 30px;
    font-size: 25px;
}

.p-wellbeing{
    font-weight: 400;
    width: 180px;
}

.innerPadding{
    padding: 100px !important;
}

.mb{
    padding-bottom: 56px;
}

.bg{
    background-color: #F4F4F4;
    border-radius: 10px;
    margin-top: 400px !important;
}

.encabezado{
    font-size: 49px !important;
    padding-bottom: 30px;
}
  
.innerItem{
    padding-bottom: 15px;
}

.descr{
    font-size: 18px;
}

.tropFruits{
    width: 500px;
}

.m-right{
    margin-right: 150px !important;
}

.eating{
    font-size: 58px !important;
}

//aplicar variables y css normal
body {
    header{
        nav{
            margin: 10px 0px;
        }
    }
    .newEra {
        padding-top: 200px;
    }

    .imgs-top{
        padding-top: 50px;
    }

    .imgs2 {
        img{
            border-radius: 15px;
        }
        .bg {
            background-color: #F4F4F4;
        }
        .innerPadding {
            padding: 80px 40px; 
        }
        h1 {
            font-size: 36px;
            color: #333;
        }
        .leaf-item {
            text-align: left;
            max-width: 200px;
            img {
                margin-bottom: 15px;
            }
            p {
                font-size: 16px;

            }
        }
        .meditation-img {
            max-width: 100%;
            height: auto;
            padding-top: 30px   !important;
        }
    }
    .organic-produce-section {
        padding: 56px 0px;
        img {
            border-radius: 26px;
            width: 658px;
            height: 578px;
            
        }
    
        h2 {
            font-size: 53px;
            color: #333;
        }
    
        p{
            color: #666;
        }
    
        .icon {
            width: 40px;
            height: 40px; 
        }
    
        ul {
            padding-top: 30px;
            li {
                display: flex;
                align-items: center;
                p {
                    font-size: 18px;
                    color: #444;
                }
            }
        }
    }
    .nutrition-section {
        border-radius: 10px;

        background-color: #f4f4f4;
        padding: 60px 20px;
        height: 541px;

        .tropical-img {
            width: 80%;
            height: auto;
        }

        
    
        .section-title {
            font-size: 28px;
            font-weight: 700;
            text-align: left;
            color: #333;
        }
    
        .info-box {
            max-width: 200px;
        }
    
        .info-icon {
            width: 58px;
            height: 57px;
        }
    
        .info-text {
            font-size: 16px;
            line-height: 1.5;
            color: #666;
        }
        p{
            font-size: 18px;
        } 
    }
    .welldoing{
        margin-top: 56px;
        border-radius: 10px;
        color: #F4F4F4;
        padding-bottom: 120px !important;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 667px !important;
        p{
            font-size: 18px;
        }
    }
    .leafs {
        display: flex; 
        justify-content: center; 
        align-items: center;
        height: 356px;
        margin-top: -173px;
        border-radius: 10px;
        max-width: 90%;
        background-color: #FCE2D7;
        margin-bottom: 150px;
        .items {
            width: 200px;
            text-align: center;
        }
        p {
            font-size: 21px;
        }
    }
}
footer{
    background-color: #285E67;
}
