// src/styles/custom.scss

@import 'bootstrap';

// 

.h1-header{
    font-size: 70px;
}

.btn {
    width: 251px;
    height: 56px;
    border-radius: 30px;
    margin-top: 30px;
    font-size: 25px;
}

.p-wellbeing{
    font-weight: 400;
    width: 180px;
}

.innerPadding{
    padding: 100px !important;
}

.mb{
    padding-bottom: 56px;
}

.bg{
    background-color: #F4F4F4;
    border-radius: 10px;
    margin-top: 400px !important;
}

.encabezado{
    font-size: 49px !important;
    padding-bottom: 30px;
}
  

//aplicar variables y css normal
body {
    header{
        nav{
            margin: 10px 0px;
        }
    }
    .newEra {
        padding-top: 200px;
    }

    .imgs-top{
        padding-top: 50px;
    }

    .imgs2 {
        img{
            border-radius: 15px;
        }
        .bg {
            background-color: #F4F4F4;
        }
        .innerPadding {
            padding: 80px 40px; 
        }
        h1 {
            font-size: 36px;
            color: #333;
        }
        .leaf-item {
            text-align: left;
            max-width: 200px;
            img {
                margin-bottom: 15px;
            }
            p {
                font-size: 16px;

            }
        }
        .meditation-img {
            max-width: 100%;
            height: auto;
        }
    }
    
    
}
